<div class="news">
  
  {% if page.latest_posts.specific_posts %}  
    {% assign posts = '' | split: '' %}  
    {% for post_id in page.latest_posts.specific_posts %}  
      {% assign post = site.posts | where: "name", post_id | first %}  
      {% assign posts = posts | push: post %}  
    {% endfor %}  
  {% else %}  
    {% assign posts = site.posts | limit: page.latest_posts.limit | sort: 'date' | reverse: true %}  
  {% endif %}  

</div>
